.main-div {
  height: 100vh;
}

.scroll-div {
  /* display: flex; */
  height: 100%;
  /* width: 100%; */
}


.bg-main {
  height: 100%;
  background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(45, 78, 107));
}

.bg-main-long {
  height: 120%;
  background-image: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(45, 78, 107));
}

.logo-header {
  height: 200px;
  width: 200px;
}

.logo-banner {
  max-width: 722px;
  max-height: 403px;
  height: 55%;
  width: 100%;
}


.bg-image {
  background-image: url("./bg_blur.png");

  /* filter: blur(16px);
  -webkit-filter: blur(16px); */

  height: 100%;
  /* 
  transform: scale(1.1); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-box-text {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

  font-family: 'Open Sans'
}

.white-box-text-long {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(+10%, 0px);
  /*+100px);*/
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

  font-family: 'Open Sans'
}


.text-title {
  font-family: 'Cormorant Garamond';
  /* transform: scale(0.75, 1);*/
}

.text-impact {
  color: #DBBB4D
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}